@model IEnumerable<StockRequest>

@* OR THE FULL FILE PATH*@

@{
    ViewData["Title"] = "StockRequests";
}



            <h3>Pending Stock Requests</h3>
 
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockRequestID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>                 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StockRequestID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>                    
                <a asp-action="DeleteConfirmed" asp-route-id="@item.StockRequestID">Process Stock Request</a></td>
 
            </tr>
        }
    </tbody>
</table>
        
            <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 

