<!DOCTYPE html>

@model IEnumerable<OwnerInventory>

@{
    ViewBag.Title = "Product";
}
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>This is the owner inventory page</h3>
      <table class="table">
        <thead>
            <tr>
                <th>
                    ProductID
                </th>
                <th>
                    Product Name
                </th>
                <th>
                   Current Stock Level
                </th>
                <th>
                    Set Stock Level       
                 </th>

            </tr>
        </thead>
        <tbody>
            @*
              Foreach loop to dynamically generate products here  
           *@
                <tr>
                    <td>

                    </td>
                    <td>
                        SAMPLE NAME
                    </td>
                    <td>
                        SAMPLE QUANTITY
                    </td>
                    <td>
                        
                        <a asp-area="" asp-controller="Owner" asp-action="OwnerSetStock">Set Item Stock Level</a> 
                            @* Make this a button???*@
                        
                    </td>
                </tr>

        </tbody>
    </table>




<h2>Owner Inventory</h2>

<form method="get">
    <p>
        Product Name: <input name="productName" value="@ViewBag.ProductName" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
                                    <th>
                    Set Stock Level       
                 </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockLevel)
                </td>
                     <td>
                        
                         
               <a asp-area="" asp-controller="Owner" asp-action="@item.ProductID">Set Item Stock Level</a>
                            @* Make this a button???*@
                        
                    </td>
            </tr>
        }
    </tbody>
</table>

      <div>   
    <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Home Page</a> 
        
        <a class ="linkButton" asp-area="" asp-controller="Owner" asp-action="OwnerIndex">Logout</a> </div>
        
</body>
</html>
