@model WDT_Assignment_2.Models.Cart 
@*Ok, I think this means cart has been passed*@

@{ decimal total =0;}
<div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        ProductID
                    </th>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Remove From Cart
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Items) { 
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.ProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                   
                    <td>
                          <form asp-action="RemoveFromCart">
                            <input type="hidden" name="ProductID" value="@item.ProductID" />
                            <input type="hidden" name="StoreID" value="@item.StoreID" />
                            <input type="submit" value="Remove from Cart" class ="linkButton"/>
                        </form>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
     @foreach (var item in Model.Items) {
        total +=item.Product.Price;
    }
   <span> <h3>Total: @total </h3> </span>
    <a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerCheckOut">Check Out</a>
</div>
 <a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerStoreSelect">Change Store</a>
<a class="linkButton" asp-area="" asp-controller="Customer" asp-action="CustomerIndex">Home</a>